.header {
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}

th { 
	background-color:grey;
    color:white;
     border: 1px solid #ddd;
     text-align: center;
}

table, td { 
	margin-top: 5px;   
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.section {
    width:350px;
    float:left;
    padding:10px; 
}
.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
