<div class="header">
<h1>Short-it-Out!</h1>
<form action="/urls" method="post">
	Enter URL:
	<input type="text" name="long_url">
	<input type="submit" value="Submit">

</form>
</div>

<div class = "table", "th", "tr">
<table>
  <tr>
    <th scope="col">Long Url</th>
    <th scope="col">Short Url</th>
    <th scope="col">Hits</th>
  </tr>
  
  <% Url.all.each do |url| %>
  <tr>
  	<td> <%= url.long_url %> </td>
  	<td> <%= url.short_url %> </td>
  	<td> <%= url.counter %> </td>
  </tr>

<% end %>

</table>
</div>

</div>






